%div.page-show-request
  %div.title
    %span Title:
    = @service_request.title
  %div.description
    %span Description:
    = @service_request.description
  %div.description
    %span Status:
    = @service_request.aasm_state
  %div.offer-listing
    %span Offers:
    %div.new-offer
      = link_to 'New Offer', new_service_request_offer_path(@service_request), class: 'button'
    - @service_request.offers.each do |offer|
      %li
        %div
          %span Member Name:
          = offer.user.name
        %div
          %span Karma Points:
          = offer.karma_points
        %div
          %span Description:
          = offer.description
        %div.new-request
          - if !@service_request.completed?
            - if @service_request.user_id == @current_user.id
              - if offer.aasm_state == 'pending'
                = link_to 'Accept Offer', service_request_offer_accept_path(@service_request.id, offer.id), method: :put, class: 'button accept'
              - elsif offer.aasm_state == 'accepted'
                = link_to 'Confirm', service_request_offer_complete_offer_as_requester_path(@service_request.id, offer.id), method: :put, class: 'button confirm'
            - elsif offer.user_id == @current_user.id && offer.aasm_state == 'accepted'
              = link_to 'Confirm', service_request_offer_complete_offer_as_offerer_path(@service_request.id, offer.id), method: :put, class: 'button confirm'
