%div.page-offer-list
  %div.offer-listing
    - if @offers.any?
      - @offers.each do |offer|
        %li.offer
          %div
            %span Karam Points:
            = offer.karma_points
          %div
            %span Description:
            = offer.description
          %div.offer-actions
            = link_to 'View Request', "/service_requests/#{offer.service_request_id}", class: 'button default'
    - else
      %div.error-message
        %h3 You have not submitted any offers
        %div.error-img
        %div.new-request
          = link_to 'Find Requests', '/', class: 'button'
