%div.page-offer-list
  %div.offer-listing
    - if @offers.any?
      - @offers.each do |offer|
        %li.offer
          %div
            %span Karma Points:
            = offer.karma_points
          %div
            %span Description:
            = offer.description
          %div.offer-actions
            - if offer.aasm_state != 'cancelled'
              = link_to 'Cancel Offer', service_request_offer_cancel_path(offer.service_request_id, offer.id), method: :put, class: 'button cancel'
            = link_to 'View Request', "/service_requests/#{offer.service_request_id}", class: 'button default'
            %p
              Status:
              %span{class: "#{offer.aasm_state === 'cancelled' ? 'red' : 'green'}"}
                = offer.aasm_state
    - else
      %div.error-message
        %h3 You have not submitted any offers
        %div.error-img
        %div.new-request
          = link_to 'Find Requests', '/', class: 'button'
