%ul.user-profile
  %div.bg
    = @user.karma_points
  %div.new-request
    = link_to "Log out", logout_path, method: :delete, class: 'button logout'
  %div.profile-banner
    %div.image
    %div.profile-details
      %div
        %label
          Name:
          = @user.name
      %div
        %label
          Karma Points:
          = @user.karma_points

  %div.profile-transactions
    = render :partial => 'transaction_history'
