%div.page-new-offer
  %div.title
    %h2 Offer Your Service
  %div.quote
    "Help others achieve their dreams and you will achieve yours. --Les Brown"

  = form_for @offer, url: {action: 'create'} do |f|
    %div
      = f.hidden_field(:user_id, value: @current_user.id)
      = f.hidden_field(:service_request_id, value: @service_request_id)
      %label Karma Points
      = f.text_field :karma_points
    %div
      %label Description
      = f.text_area :description
    %div
      = button_tag(type: 'submit', class: 'btn create') do
        Create
      = button_tag(type: 'button', class: 'btn cancel') do
        Cancel
