<!DOCTYPE html>
<html>
  <head>
    <title>Lets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class='nav-container'>
      <a class='logo-link' href='/'>
        <div class='logo'></div>
      </a>

      <div class='user-info'>
        <li>Karma Points</li>
        <li><%= @current_user.name %></li>
      </div>
    </div>
    <div class='sub-nav-container'>
      <div class='tab-listing'>
        <li><a class="tab-link active" href="/">All</a></li>
        <li><a class="tab-link" href="/my_requests">My Requests</a></li>
        <li><a class="tab-link" href="/my_offers">My Offers</a></li>
      </div>
      <div class='new-request'>
        <%= link_to 'New Request', '/service_requests/new', class: 'button' %>
      </div>
    </div>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
